*.js text eol=lf
*.ts text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf
.eslintrc text eol=lf
.gitignore text eol=lf
*.json text eol=lf
*.lock text eol=lf
.travis.yml text eol=lf
*.md text eol=lf
*.tsx text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
*.html text eol=lf